# Lab 1 – Load and Explore the Data

In [1]:
# Task 1: Import the pandas library for data manipulation.
import pandas as pd
import numpy as np

In [2]:
# Task 2: Load the 'train.csv' file into a DataFrame called df and preview the first rows.
df = pd.read_csv("train.csv")
df.head()

/tmp/ipykernel_15565/4292402596.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [3]:
# Task 3: Inspect the structure of the DataFrame using df.info().
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [4]:
# Task 4: Print the unique values in 'StateHoliday' and their counts.
df['StateHoliday'].value_counts()

StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64

In [5]:
# Task 5: Binarize the 'StateHoliday' column so that any of 'a', 'b', or 'c' becomes 1 and 0 stays 0.
# Then, print the updated value counts.
df['StateHoliday'] = df['StateHoliday'].isin(['a', 'b','c']).astype(int)
df['StateHoliday'].value_counts()

StateHoliday
0    986159
1     31050
Name: count, dtype: int64

# Lab 2 – Subsetting Stores and Basic Aggregations

In [21]:
# Task 1: Count how many unique stores exist in the dataset.
type(df.Store.unique())

numpy.ndarray

In [21]:
# Task 2: Subset the data to 10 random stores (seed = 1502) and store the result in df_10.
np.random.seed(1502)
stores_10 = df.Store.unique()[np.random.choice(df.Store.nunique(), 10 , replace=False)]
df_10 = df.loc[df['Store'].isin(stores_10), :]

          Sales
Store
259    11520.03
397     4610.23
485     3997.06
595    12499.98
614     5457.20
761     7265.30
763     5097.87
855     4753.29
911     8226.93
958     3532.52

In [31]:
df_10 = df.loc[df.Store.isin(df.Store.drop_duplicates().sample(10, random_state=1502))].copy()

In [56]:
# Task 3: Compute the mean sales for each of the 10 stores and sort them in descending order.
# df_10.groupby('Store').agg({'Sales': 'mean'}).sort_values(by='Sales', ascending=True).round(2)
df_10.groupby('Store')['Sales'].mean().sort_values(ascending=True)

Store
958     3532.521231
485     3997.056728
397     4610.227176
855     4753.286624
763     5097.873673
614     5457.197452
761     7265.298301
911     8226.929936
259    11520.032909
595    12499.980892
Name: Sales, dtype: float64

In [70]:
# Task 4: For each store, find the index (row) of the day with the all-time highest sales.
idx = df_10.groupby('Store')['Sales'].idxmax().sort_values(ascending=False)
idx

Store
958    1010362
911     627870
855     627814
614     627573
595     627554
397     627356
763     619917
485     619639
761     409180
259      63813
Name: Sales, dtype: int64

In [71]:
df_10.loc[idx]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1010362,958,1,2013-01-07,7404,858,1,1,0,0
627870,911,1,2013-12-16,20300,1524,1,1,0,0
627814,855,1,2013-12-16,11671,979,1,1,0,0
627573,614,1,2013-12-16,13645,1623,1,1,0,0
627554,595,1,2013-12-16,31415,2802,1,1,0,0
627356,397,1,2013-12-16,14197,1488,1,1,0,0
619917,763,1,2013-12-23,12934,1262,1,0,0,1
619639,485,1,2013-12-23,10050,845,1,0,0,1
409180,761,1,2014-06-30,16193,1544,1,1,0,0
63813,259,4,2015-06-04,21407,3356,1,1,a,0