# Lab 1 – Load and Explore the Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Instruction: Update the path if your folder structure is different.
%cd /content/drive/MyDrive/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

/content/drive/MyDrive/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

In [3]:
# Task 1: Import the pandas library for data manipulation.
import pandas as pd

In [4]:
# Task 2: Load the 'train.csv' file into a DataFrame called df and preview the first rows.
df = pd.read_csv("train.csv")
df.head()

/tmp/ipython-input-4292402596.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [5]:
# Task 3: Inspect the structure of the DataFrame using df.info().
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [8]:
# Task 4: Print the unique values in 'StateHoliday' and their counts.
df['StateHoliday'].value_counts()

StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64

In [10]:
# Task 5: Binarize the 'StateHoliday' column so that any of 'a', 'b', or 'c' becomes 1 and 0 stays 0.
# Then, print the updated value counts.
df['StateHoliday'] = df['StateHoliday'].isin(['a', 'b','c']).astype(int)
df['StateHoliday'].value_counts()

StateHoliday
0    986159
1     31050
Name: count, dtype: int64

# Lab 2 – Subsetting Stores and Basic Aggregations

In [11]:
# Task 1: Count how many unique stores exist in the dataset.
print(f"There are {len(df.Store.unique())} stores")

There are 1115 stores

In [24]:
# Task 2: Subset the data to 10 random stores (seed = 1502) and store the result in df_10.
df_10 = df[df.Store.isin(df.Store.sample(10, random_state = 1502))].copy()
df_10

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
23,24,5,2015-07-31,14190,1082,1,1,0,1
46,47,5,2015-07-31,9379,1021,1,1,0,1
155,156,5,2015-07-31,8828,821,1,1,0,1
263,264,5,2015-07-31,8303,992,1,1,0,1
266,267,5,2015-07-31,11326,1217,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1016447,353,2,2013-01-01,3139,820,1,0,1,1
1016857,763,2,2013-01-01,0,0,0,0,1,1
1016888,794,2,2013-01-01,0,0,0,0,1,1
1016956,862,2,2013-01-01,0,0,0,0,1,1
1016958,864,2,2013-01-01,0,0,0,0,1,1

In [26]:
# Task 3: Compute the mean sales for each of the 10 stores and sort them in descending order.
df_10.groupby('Store')['Sales'].mean().sort_values(ascending = False)

Store
24     7763.773885
267    7731.106157
862    7128.519108
47     5946.666667
264    5851.901274
156    5779.171975
353    5579.376858
763    5097.873673
864    3520.780255
794    2553.475584
Name: Sales, dtype: float64

In [28]:
# Task 4: For each store, find the index (row) of the day with the all-time highest sales.
df_10.groupby('Store')['Sales'].idxmax().sort_values(ascending = False)

Store
864    947828
862    627821
156    627115
763    619917
264    455513
24     408443
794    245456
267    245014
353    101817
47      34611
Name: Sales, dtype: int64

# Lab 3 – Working with Datetime Index and Weekday Patterns

In [ ]:
# Task 1: Set the 'Date' column as the index of df_10 and preview the first rows.

In [ ]:
# Task 2: Convert the index of df_10 to a proper datetime type.

In [ ]:
# Task 3: Compute the average sales per weekday and per store.

In [ ]:
# Task 4: Visualize the average sales per weekday and per store as a line plot.

# Lab 4 – Standardizing Sales and Comparing Weekday Patterns

In [ ]:
# Task 1: Define a function that standardizes a numeric Series using z-scores.

In [ ]:
# Task 2: Standardize the 'Sales' column within each store and store the result in a new column 'Sales_std'.

In [ ]:
# Task 3: Compute the mean of standardized sales per weekday and per store.

In [ ]:
# Task 4: Visualize the standardized mean sales per weekday and store as a line plot.

# Lab 5 – Analyzing Sales on a Specific Weekday

In [ ]:
# Task 1: Filter the data to DayOfWeek = 7 and visualize sales over time for each store.

# Lab 6 – Removing Outliers and Re-Assessing Intra-Week Seasonality

In [ ]:
# Task 1: Remove observations for DayOfWeek = 7 and for Store 353, and create a cleaned DataFrame df_clean.

In [ ]:
# Task 2: Re-standardize the 'Sales' column within each store in df_clean.

In [ ]:
# Task 3: Compute the mean of standardized sales per weekday and per store in df_clean.

In [ ]:
# Task 4: Visualize the intra-week seasonality using the standardized sales.

# Lab 7 – Analyzing the Impact of Promotions

In [ ]:
# Task 1: Compare average sales on promotion days versus non-promotion days.

In [ ]:
# Task 2: Compute the mean sales per store split by promotion status and store the result in promo_uplift.

In [ ]:
# Task 3: For each store, compute the relative uplift of sales during promotion days compared to non-promotion days.

In [ ]:
# Task 4: Identify the top 5 stores with the highest relative promotion uplift.

In [ ]:
# Task 5: Identify the 5 stores with the lowest (or most negative) relative promotion uplift.